@import "./normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.richmd-slide {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: -apple-system,"BlinkMacSystemFont","Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif,"Segoe UI Emoji";
  font-size: 40px;
  color: #262626;
}

.richmd-slide .slide {
  width: calc(100vw - 120px);
  height: calc(100vh - 120px);
  padding: 60px;
  display: flex;
}

.richmd-slide .slide-title {
  justify-content: center;
}

.richmd-slide .slide-layout-center {
  flex-direction: column;
  align-items: normal;
  text-align: center;
}

.richmd-slide .slide-layout-left {
  flex-direction: column;
  align-items: normal;
  text-align: left;
}

.richmd-slide .slide-layout-right {
  flex-direction: column;
  align-items: normal;
  text-align: right;
}

.richmd-slide .default-theme {
  background: #ffffff;
}

.richmd-slide .sunset-theme {
  background: radial-gradient(#fec540, #fa709a);
  color: #ffffff;
}

.richmd-slide .malinka-theme {
  background: radial-gradient(#f093fb, #f5576c);
  color: #ffffff;
}

.richmd-slide .moon-theme {
  background: radial-gradient(#5ee7df, #b490ca);
  color: #ffffff;
}

.richmd-slide .darkblue-theme {
  background: radial-gradient(#30cfd0, #330867);
  color: #ffffff;
}

.richmd-slide .sky-theme {
  background: radial-gradient(#00f2fe, #4facfe);
  color: #ffffff;
}

.richmd-slide .green-theme {
  background: radial-gradient(#43e97b, #38f9d7);
  color: #ffffff;
}

.richmd-slide .dark-theme {
  background: radial-gradient(#2a2845, #030033);
  color: #ffffff;
}

.slide-control-wrap {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.slide-control {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  margin: 20px;
}

.slide-control button {
  padding: 5px;
  border: none;
  background: transparent;
  cursor: pointer;
}


.richmd-slide > *:first-child {
  margin-top: 0 !important; 
}
.richmd-slide > *:last-child {
  margin-bottom: 0 !important; 
} 

.richmd-slide .a {
  color: #4183C4;
}
.richmd-slide .a.absent {
  color: #cc0000;
}
.richmd-slide .a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; 
}

.richmd-slide .bold {
  font-weight: bold;
}

.richmd-slide .italic {
  font-style: italic;
}

.richmd-slide .line-through {
  text-decoration: line-through;
}

.richmd-slide .h1, .richmd-slide .h2, .richmd-slide .h3, .richmd-slide .h4, .richmd-slide .h5, .richmd-slide .h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
}

.richmd-slide .h1 tt, .richmd-slide .h1 code {
  font-size: inherit; 
}

.richmd-slide .h2 tt, .richmd-slide .h2 code {
  font-size: inherit; 
}

.richmd-slide .h3 tt, .richmd-slide .h3 code {
  font-size: inherit; 
}

.richmd-slide .h4 tt, .richmd-slide .h4 code {
  font-size: inherit; 
}

.richmd-slide .h5 tt, .richmd-slide .h5 code {
  font-size: inherit; 
}

.richmd-slide .h6 tt, .richmd-slide .h6 code {
  font-size: inherit; 
}

.richmd-slide .h1 {
  font-size: 64px;
}

.richmd-slide .h2 {
  font-size: 58px;
  padding-bottom: 5px;
  border-bottom: 1px solid #cccccc;
}

.richmd-slide .h3 {
  font-size: 50px; 
}

.richmd-slide .h4 {
  font-size: 48px; 
}

.richmd-slide .h5 {
  font-size: 44px; 
}

.richmd-slide .h6 {
  color: #777777;
  font-size: 42px; 
}

.richmd-slide .span, .richmd-slide .blockquote, .richmd-slide .ul, .richmd-slide .ol, .richmd-slide .dl, .richmd-slide .table, .richmd-slide pre {
  margin: 28px 0; 
}

.richmd-slide .span {
  width: fit-content;
  height: fit-content;
  margin: 0;
}

.richmd-slide .ol {
  margin: 28px 0;
}

.richmd-slide .ul {
  margin: 28px 0;
}

.richmd-slide .li {
  margin: 28px 0;
  white-space: pre-line;
}

.richmd-slide hr {
  border: solid 1px #cccccc;
  padding: 0; 
}

.richmd-slide .br {
  display: block;
  content: "";
  padding: 0;
  margin: 0;
}

.richmd-slide .inline-br {
  display: block;
  content: "";
  padding: 0;
  margin: 0;
}

.richmd-slide .a:first-child h1, .richmd-slide .a:first-child h2, .richmd-slide .a:first-child h3, .richmd-slide .a:first-child h4, .richmd-slide .a:first-child h5, .richmd-slide .a:first-child .h6 {
  margin-top: 0;
  padding-top: 0; 
}

.richmd-slide .h1 .span, .richmd-slide .h2 .span, .richmd-slide .h3 .span, .richmd-slide .h4 .span, .richmd-slide .h5 .span, .richmd-slide .h6 .span {
  margin-top: 0; 
}

.richmd-slide .li .span.first {
  display: inline-block; 
}

.richmd-slide .ul, .richmd-slide .ol {
  padding-left: 48px;
}

.richmd-slide .ul :first-child, .richmd-slide .ol :first-child {
  margin-top: 0; 
}

.richmd-slide .ul :last-child, .richmd-slide .ol :last-child {
  margin-bottom: 0; 
}

.richmd-slide .dl {
  padding: 0; }
  .richmd-slide .dl .dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px; }
    .richmd-slide .dl .dt:first-child {
      padding: 0; }
    .richmd-slide .dl .dt > :first-child {
      margin-top: 0; }
    .richmd-slide .dl .dt > :last-child {
      margin-bottom: 0; }
  .richmd-slide .dl .dd {
    margin: 0 0 15px;
    padding: 0 15px; }
    .richmd-slide .dl .dd > :first-child {
      margin-top: 0; }
    .richmd-slide .dl .dd > :last-child {
      margin-bottom: 0; }

.richmd-slide .blockquote {
  border-left: 8px solid #dddddd;
  padding: 0 15px;
  color: #777777;
}

.richmd-slide .blockquote .span {
  color: #777777; 
}

.richmd-slide .blockquote .inline-code {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  color: #666666;
  font-family: 'Source Code Pro', monospace;
  border-radius: 3px;
}

.richmd-slide .blockquote > :first-child {
  margin-top: 0; 
}

.richmd-slide .blockquote > :last-child {
  margin-bottom: 0; 
}

.richmd-slide .table {
  padding: 0; }
  .richmd-slide .table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    .richmd-slide .table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    .richmd-slide .table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    .richmd-slide .table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    .richmd-slide .table tr th :first-child, .richmd-slide .table tr td :first-child {
      margin-top: 0; }
    .richmd-slide .table tr th :last-child, .richmd-slide .table tr td :last-child {
      margin-bottom: 0; }

.richmd-slide .img {
  max-width: 100%; 
}

.richmd-slide .video {
  width: 640px;
  height: 360px;
  background-color: #000;
}

.richmd-slide pre code {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  border: none;
  background: transparent; 
}

.richmd-slide .highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #dddddd;
  font-family: -apple-system,"BlinkMacSystemFont","Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif,"Segoe UI Emoji";
  border-radius: 5px;
}

.richmd-slide pre {
  font-size: 36px;
  line-height: 16px;
  padding: 5px 16px;
  border-radius: 5px; 
}

.richmd-slide pre code, .richmd-slide pre tt {
  background-color: transparent;
  border: none; 
}

.richmd-slide pre code br {
  display: block;
  content: "";
}

.richmd-slide .code-block {
  margin: 20px 0;
  background-color: #030e2b;
  padding: 0;
  border-radius: 10px;
  position: relative;
  min-width: calc(100vw - 350px);
  text-align: left;
}

.richmd-slide .code {
  color: #fff;
  border: none;
  font-size: 30px;
  line-height: 40px;
  padding: 0 20px 20px;
  min-width: 350px;
}

.richmd-slide .filename {
  background-color: rgba(255, 255, 255, .3);
  color: #fff;
  font-size: 20px;
  padding: 14px;
  margin: 0;
  top: 0;
  position: absolute;
  border-radius: 5px 0 5px 0;
}

.richmd-slide .checklist {
  list-style-type: none;
  padding: 0;
}

.richmd-slide input[type="checkbox"] {
  margin: 0 5px;
}

.richmd-slide .math {
  background-color: inherit;
  border: none;
  padding: 5px 16px;
}

.richmd-slide .katex { 
  font-size: 48px;
  color: #000;
}

.richmd-slide .katex-center {
  display: flex;
  justify-content: center;
}

.richmd-slide .message {
  margin: 10px 0;
  font-size: 36px;
  line-height: 30px;
  padding: 20px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  min-width: calc(100vw - 400px);
}

.richmd-slide .message-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.richmd-slide .message-danger {
  background-color: #ffb5b5;
  border-left: solid 10px #ff6969;
  color: #d13d3d;
}

.richmd-slide .message-icon-danger {
  background-image: url("../images/danger.svg");
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.richmd-slide .message-warning {
  background-color: #ffeca6;
  border-left: solid 10px #ffc44f;
  color: #857111;
}

.richmd-slide .message-icon-warning {
  background-image: url("../images/warning.svg");
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.richmd-slide .message-info {
  background-color: #b5e8ff;
  border-left: solid 10px #4fb6ff;
  color:#216a94;
}

.richmd-slide .message-icon-info {
  background-image: url("../images/info.svg");
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.richmd-slide .message-success {
  background-color: #a4fcc6;
  border-left: solid 10px #4ad981;
  color: #1e9656;
}

.richmd-slide .message-icon-success {
  background-image: url("../images/success.svg");
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.richmd-slide .message-default {
  background-color: #f0f0f0;
  border-left: solid 10px #b8b8b8;
  color:#525252;
}

.richmd-slide .inline-code {
  margin: 0 3px;
  padding: 0 10px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  color: #24374a;
  font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,monospace,"Segoe UI Emoji";
  border-radius: 9px;
}

.richmd-slide .codefont {
  font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,monospace,"Segoe UI Emoji";
}

.richmd-slide .details {
  border: solid 1px #b8b8b8;
  border-radius: 10px;
  padding: 30px 40px;
}

.richmd-slide .summary {
  border-radius: 10px;
  font-size: 40px;
  cursor: pointer;
  font-weight: bold;
}
